{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "semicolons": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true
}

